<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>老师主页</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
	<link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
</head>
<body>
	<div class="layui-fluid">
		<div class="layui-row layui-col-space15">
			<div class="layui-col-md12">
				<div class="layui-card">
					<div class="layui-card-header">快捷方式</div>
					<div class="layui-card-body">
						<div class="layui-carousel layadmin-carousel layadmin-shortcut">
							<div carousel-item>
								<ul class="layui-row layui-col-space10">
									<li class="layui-col-md3">
										<a lay-href="teacher/establishExam.html">
											<i class="layui-icon layui-icon-console"></i>
											<cite>创建试卷</cite>
										</a>
									</li>
									<li class="layui-col-md3">
										<a lay-href="teacher/question.html">
											<i class="layui-icon layui-icon-chart"></i>
											<cite>试题库</cite>
										</a>
									</li>
									<li class="layui-col-md3">
										<a lay-href="teacher/testPaper.html">
											<i class="layui-icon layui-icon-template-1"></i>
											<cite>试卷库</cite>
										</a>
									</li>
									<li class="layui-col-md3">
										<a lay-href="teacher/graceIndex.html">
											<i class="layui-icon layui-icon-chat"></i>
											<cite>成绩查询</cite>
										</a>
									</li>
									<li class="layui-col-md3">
										<a lay-href="teacher/info.html">
											<i class="layui-icon layui-icon-set"></i>
											<cite>我的资料</cite>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="layui-col-md12">
				<div class="layui-card">
					<div class="layui-card-header">
						我们身边的老师是怎样的？
						<i class="layui-icon layui-icon-tips" lay-tips="要支持的噢" lay-offset="5"></i>
					</div>
					<div class="layui-card-body layui-text layadmin-text">
						<p>如果你一定会问王老师为什么会令我难忘呢？这都得益于王老师在我心中的光辉的形象。她流着一头乌黑发亮的卷发，端正的五官，鼻梁上挂架着一副眼镜，显得知识更加渊博。在她的带领下，我们班的学习成绩越发优秀。想知道她是怎么教我们的吗？且听我慢慢道来。</p>
						<p>是她滋润着我们这些娇嫩的祖国之花，她就像辛勤的园丁一样，哺育我们成长，传授我们知识。她，中等身材，有一头棕色的卷发，洁白的瓜子脸，高高的鼻梁上架着一副眼镜，罩着她那双沉稳得来又明亮的眼睛。还有一张能说会道的巧嘴以及一对灵敏的耳朵。她平易进人，上课非常认真。讲课时，她常把难题用生活中的事例或者一些历史故事来分析给我们听，让我们一边听故事一边学知识，使我百听不厌。</p>
						<p>李老师有着一颗童心，这是任何老师都没有的。从她的教课风格和我们谈心可以看出，从她和同学们打成一片可以看出，从她让我们叫她老公老大可以看出，她是一位有着童心的老师，是一位只是年龄会慢慢变老，但心依然年轻的老师。她和同学们有着朋友一样的友谊，就这一点我敢说“西园没有一位可以比得过的老师。”她不像别的老师那样高高在上，而和我们是平等的、是朋友、是哥们（李老师的原话），就像上一届同学称呼李老师为“老李”一样。一位可以直呼“老XX”的人一定是真心的朋友、是哥们。李老师就是这样。</p>
					</div>
				</div>
			</div>
			<div class="layui-col-md12">
				<div class="layui-card">
					<div class="layui-card-header">
						在线考试系统
						<i class="layui-icon layui-icon-tips" lay-tips="要支持的噢" lay-offset="5"></i>
					</div>
					<div class="layui-card-body layui-text layadmin-text">
						<p> 考试作为大多数学校与一些教育培训机构的重要检测环节，在我国当前的教育制度下有着十分重要的作用，它不但是衡量学校和教育机构教学质量好坏的重要手段，同时也是促进学生,更好的完善自己，寻找差距的基础平台。一般来讲，传统的考试需要经历命题、考试、阅卷、成绩四大主要步骤，其中每-一个步骤都需要考试管理人员的充分参与，这为考试管理人员带来了非常繁琐的操作过程和不断重复的高强度劳动。归纳起来，传统考试具有以下几方面明显的弊端:应试者始终处于被动状态;考试过程缺乏灵活性;考试组织效率很低。</p>
						<p>实际上，在网络技术日益发达的环境下，参与考试的主体都希望能够借助网络环境让考试的过程更加公平、更加轻松，更重要的是，学生希望自己的学习效果得到有效准确的检验;教师则希望在考试准备、考试进程以及考试结束的所有环节中都能够有高效率;对学校而言则更希望能够通过网络考试实现对学生学习成绩的及时跟踪与评价。网络考试系统便是在这样一-种需求背景下出现的，其目的就是在互联网条件下实现新的考试模式，从而可以营造出公平的考试环境，降低考试环节复杂性，改善考试管理水平的要求。</p>
					</div>
				</div>
			</div>

		</div>
	</div>
	<script src="../../layuiadmin/layui/layui.js?t=1"></script>
	<script src="/layuiadmin/other/js/onload.js"></script>
	<script src="/layuiadmin/other/js/jquery-3.4.1.js"></script>
	<script>
		layui.config({
			base: '../../layuiadmin/' //静态资源所在路径
		}).extend({
			index: 'lib/index' //主入口模块
		}).use(['index', 'console'],function(){
			var $ = layui.$;
			teacherOnload();
		});
	</script>
</body>
</html>

